<header>

  <!-- <div>
    <router-outlet></router-outlet> 

    <ul>
      <li><a href="">App</a></li>
      <li><a href="/calls">Calls</a></li>
      <li><a href="/test">Test</a></li>
    </ul>
  </div> -->

  <h1 translate>Title</h1>

  <div id="languages">

    <button (click)="switchLanguage('en')"><img src="./assets/images/uk_flag.png" width="20" height="20"/></button>
    <button (click)="switchLanguage('it')"><img src="./assets/images/italy_flag.png" width="20" height="20"></button>
    <button (click)="switchLanguage('es')"><img src="./assets/images/spain_flag.png" width="20" height="20"></button>
    <button (click)="switchLanguage('fr')"><img src="./assets/images/france_flag.png" width="20" height="20"></button>

  </div>

  

</header>

<br><hr><br>

<section>

  <div>
    {{ 'Intro' | translate:user }}
  </div>

  <div>
    <h2>Test</h2>
    {{ 'Test' | translate }}
    <br>
    {{ 'FirstObject.SecondObject' | translate }}
  </div>

</section>



<hr>

<footer>
  {{'Footer' | translate}}
</footer>




